@import "src/styles/includes";

.item {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	padding: $itemPadding;
	border-radius: $defaultRadius;

	.inner {
		width: 100%;
		padding: $itemPadding * 1.618;
		//box-shadow: 2px 2px 4px rgba(0,0,0,.5);
		//border: 1px solid rgba(255,255,255,.2);
		border-radius: $defaultRadius;
		transition: all 0.35s ease;
		display: table;

		&:hover {
			cursor: pointer;
			//background: lighten($colorBackground, 2%);
			box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.25);
		}

		.thumb {
			width: 130px;
			min-width: 130px;
			display: table-cell;
			vertical-align: middle;
			box-sizing: content-box;

			img {
				margin-right: $itemPadding;
				box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
				border-radius: $defaultRadius;
			}
		}

		.text-top {
			> div {
				margin-bottom: 5px;
				word-wrap: break-word;
			}

			.date {
				font-size: 0.7em;
				font-weight: bold;
				color: darken(#fff, 25%);
			}

			.title {
				font-size: 1.2em;
				font-weight: bold;
				line-height: 1.5em;
				text-shadow: 1px 1px 2px rgba(40, 40, 40, 0.4);
				font-family: $fontBold;
			}

			.link,
			.tags {
				font-size: 0.8em;
				color: darken(#fff, 25%);

				.label {
					font-weight: bold;
					padding-right: 4px;
				}
			}
		}

		.text-bottom {
			> div {
				margin-bottom: 5px;
				word-wrap: break-word;
			}

			.content {
				line-height: 1.5em;
			}
		}
	}

	&.open {
		height: 400px;
	}

	.inner {
		display: flex;
		flex-wrap: wrap;

		.thumb {
			display: flex;
			align-items: center;
			justify-content: center;
			float: none;
			width: auto;
			min-width: 0;
			text-align: center;
			padding-bottom: $itemPadding;

			img {
				width: 115px;
			}
		}

		.text-top {
			flex: 1;
			width: 65%;
			display: block;
			float: none;
		}

		.text-bottom {
			display: block;
			float: none;
			clear: both;
			width: 100%;
		}
	}
}

@media all and (max-width: 767px) {
	.item {
		padding: 0;

		.inner {
			display: flex;
			flex-wrap: wrap;
			padding: $itemPadding;

			&:hover {
				cursor: pointer;
				background: none;
				box-shadow: none;
			}

			.thumb {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				float: none;
				width: auto;
				text-align: center;
				padding: 0 0 $itemPaddingMobile 0;

				img {
					width: 90px;
					min-width: 90px;
					margin-right: $itemPaddingMobile;
				}
			}

			.text-top {
				flex: 1;
				width: 65%;
				display: block;
				float: none;

				.date {
					margin: 0px 0 0;
				}

				.title {
					margin-bottom: 0;
				}
			}

			.text-bottom {
				display: block;
				float: none;
				clear: both;
				width: 100%;
			}
		}
	}
}
