@import "src/styles/includes";

#info {
    .bio {
        padding: $itemPadding * 2;

        .section {
            margin: 20px 0;
        }
    }
}

@media all and (max-width: 1023px) {
    #info {
        text-align: center;
    }
}
