@import "src/styles/index.scss";

#app {
    @include flex-col;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 700px;
    overflow: hidden;

    $animSpeed: 0.25s;

    .content-wrapper {
        flex: 1 0 100%;
        width: 100%;
        @include flex-row;
        height: 100%;
        margin: 0 auto;
        position: relative;
        flex-direction: column;
        align-items: center;

        .nav {
            position: relative;
            //flex: 0.382 0 38.2%;
            @include flex-col-center-both;
            justify-content: flex-end;
            padding-left: 0vw;
            margin-top: 50px;
            margin-bottom: clamp(20px, 5vh, 100px);

            .menu {
                display: none;
            }

            .logo {
                width: 100%;
                position: relative;
                //top: clamp(75px, 7vh, 150px);
                margin: 0 auto;
                font-family: "Mario";
                text-align: center;
                opacity: 1;
                transition: opacity 0.5s linear;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;

                .star {
                    font-size: clamp(2em, 16vw, 20em);
                    position: absolute;
                    // top: -0.625em;
                    // left: -0.45em;
                    top: 50%;
                    left: 50%;
                    opacity: 0.75;
                    transform: translateX(-50%) translateY(-50%) scaleY(0.75);
                    filter: blur(5px) saturate(32%);
                    -webkit-transition: 0.3s ease-in-out;
                    transition: $animSpeed ease-in-out;
                }

                .name {
                    display: flex;
                    align-items: center;
                    position: relative;
                    line-height: 1em;
                    font-size: clamp(1.75em, 2.7vw, 50px);
                    letter-spacing: 1px;
                    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                    color: white;
                    opacity: 1;
                    transition: opacity $animSpeed linear;
                    z-index: 1;
                    text-align: center;
                }

                .title {
                    display: flex;
                    align-items: center;
                    position: relative;
                    margin: 5px;
                    color: rgb(8, 96, 151);
                    font-size: clamp(0.65em, 1vw, 24px);
                    letter-spacing: 4px;
                    transition: opacity $animSpeed linear;
                    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
                    z-index: 1;
                    //display: none;
                    // text-shadow:
                    //     1px 1px 1px rgba(255, 255, 255, 0.15),
                    //     -1px -1px 1px rgba(25, 25, 25, 0.5);
                }

                &:hover {
                    .star {
                        opacity: 0.85;
                        filter: blur(0px) saturate(100%);
                        -webkit-transition: $animSpeed ease-in-out;
                        transition: $animSpeed ease-in-out;
                    }

                    .name {
                        opacity: 1;
                        color: white;
                        transition: opacity $animSpeed linear;
                    }

                    .title {
                        transition:
                            opacity $animSpeed linear,
                            color $animSpeed linear;
                        color: rgb(36, 85, 122);
                    }
                }
                // filter: blur(5px);
            }

            .trees {
                position: fixed;
                left: 0;
                right: 0;
                bottom: -250px;
                width: 100vw;
                @include flex-row;
                justify-content: center;
                filter: blur(10px);
                transform: scale(1.25);
                margin-left: 30px;
                opacity: 0.5;
                //display: none;

                .tree {
                    flex: 1 0 auto;
                    position: relative;
                    //max-width: 10vw;
                    width: 12vw;
                    margin-left: -30px;
                    min-width: 100px;
                }

                img {
                    max-width: 15vw;
                    width: 15vw;
                }
            }
        }

        .page {
            position: relative;
            @include flex-col;
            flex: 1; //0.618 0 61.8%;
            width: 100%;
            height: 100%;
            padding: 0;
            //margin: 20px 20px 0px 20px;
            border-top-left-radius: 25px;

            .container {
                @include flex-no-wrap;
                //align-items: center;
                position: relative;
                opacity: 1; //0;
                height: 100%;
                width: 100%;

                &.page-loaded {
                    top: 0;
                    opacity: 1 !important;
                    transition: opacity $animSpeed ease-in-out;
                }

                .stage {
                    position: relative;
                    opacity: 1; //0;
                    width: 100%;
                    height: 100%;
                    transition: opacity $animSpeed * 2 ease-in-out;

                    .stage-content {
                        width: 100%; //$stageWidth;
                        height: 100%;
                        background: $colorBackgroundDark;
                        //padding-bottom: 50px;

                        // &:before {
                        //     box-shadow: inset 6.18vw 0 6.18vw -6.18vw rgba(0, 0, 0, 0.7);
                        //     content: " ";
                        //     height: 100%;
                        //     left: 0;
                        //     position: absolute;
                        //     top: 0;
                        //     width: 6.18vw;
                        // }

                        // &:after {
                        //     box-shadow: inset -6.18vw 0px 6.18vw -6.18vw rgba(0, 0, 0, 0.7);
                        //     content: " ";
                        //     height: 100%;
                        //     position: absolute;
                        //     top: 0;
                        //     right: 0;
                        //     width: 6.18vw;
                        // }

                        .loader {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-top: -32px;
                            margin-left: -32px;
                            opacity: 0;
                            @include loader-ring;
                            transition: opacity $animSpeed ease-in-out;
                        }
                    }
                }

                // PAGE STAGES -----------------------------

                &.loading {
                    .stage {
                        .loader {
                            opacity: 1;
                            transition: opacity $animSpeed ease-in-out;
                        }
                    }
                }
            }
        }
    }
}

@include mobile {
    #app {
        .content-wrapper {
            .nav {
                //margin-bottom: clamp(20px, 5vh, 100px);
                .trees {
                    margin: 0 0 100px;
                    transform: scale(3);
                    filter: blur(2px);

                    .tree {
                        margin: 0px;
                    }
                }
            }
        }
    }
}

// @media all and (max-width: 767px) {
//     #app {
//         max-width: 100%;
//         overflow-y: auto;

//         .content-wrapper {
//             max-width: 100%;
//             @include flex-col;

//             .nav {
//                 flex: 1 0 100%;
//                 width: 100%;
//                 justify-content: center;
//             }

//             .page {
//                 flex: 1 0 100%;
//                 width: 100%;

//                 .container {
//                     .stage {
//                         .stage-content {
//                             width: 100vw;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.to-top {
    display: block;
    margin-top: 3px;
}
