:root {
    --background-color: #f4f4f4;
    --text-color: #333;
    --item-padding: 10px;
    --column-padding: 15px;
    --base-font-size: 16px;
    --button-bg: #3498db;
    --button-text: #fff;
    --button-text-hover: #000;
    --button-hover-bg: lighten(#3498db, 10%);
    --button-hover-bg2: lighten(#3498db, 20%);
    --textarea-bg: #fff;
    --textarea-border: darken(#f4f4f4, 10%);
}

.dark-mode {
    --background-color: #012;
    --text-color: #fed;
    --button-bg: #3498db;
    --button-text: #000;
    --button-text-hover: #fff;
    --button-hover-bg: lighten(#3498db, 10%);
    --button-hover-bg2: lighten(#3498db, 20%);
    --textarea-bg: #012;
    --textarea-border: darken(#012, 10%);
}

.ColorPage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    font-size: var(--base-font-size);
    color: var(--text-color);

    .column {
        flex: 1 0 33%;
        display: flex;
        flex-direction: column;
        padding: var(--column-padding);
        height: 100%;

        button {
            padding: var(--item-padding);
            margin: calc(var(--item-padding) / 2);
            background-color: var(--button-bg);
            color: var(--button-text);
            border: 1px solid var(--button-bg);
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: var(--button-hover-bg);
            }
        }

        .button-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: calc(var(--item-padding) / 2) 0;

            &.top {
                margin-bottom: var(--item-padding);
            }

            &.bottom {
                margin-top: var(--item-padding);
            }

            label {
                display: flex;
                align-items: center;

                input[type="checkbox"] {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }

                span {
                    font-size: calc(var(--base-font-size) * 1.2);
                    font-weight: bold;
                }
            }
        }

        textarea {
            flex: 1;
            font-family: monospace;
            font-size: var(--base-font-size);
            padding: var(--item-padding);
            background-color: var(--textarea-bg);
            color: var(--text-color);
            border: 1px solid var(--textarea-border);
            border-radius: 4px;
            resize: none;
        }
    }

    .InputColumn {
        textarea {
            flex: 1;
        }
    }

    .ColorEditColumn,
    .OutputColumn {
        .color-list {
            flex: 1;
            overflow-y: auto;
            display: flex;
            flex-direction: column;

            .color-swatch,
            .ColorEdit {
                flex-grow: 1;
                min-height: 50px;
                //margin-bottom: var(--item-padding);
                border-radius: 4px;
            }
        }
    }

    .OutputColumn {
        .color-swatches {
            .color-swatch {
                margin-bottom: 0; // Remove spacing between swatches
            }
        }

        .tab-content {
            display: flex;
            flex: 1;
            width: 100%;

            .output-preview {
                flex: 1;
                display: flex;
                textarea {
                    height: 100%; // Ensure textarea fills the height of the column
                    width: 100%;
                }
            }
        }
    }

    // .OutputColumn {
    //     .tab-content {
    //         flex: 1;
    //         overflow-y: auto;
    //         display: flex;
    //         flex-direction: column;
    //         padding: var(--item-padding);
    //         border: 1px solid var(--textarea-border);
    //         border-radius: 4px;

    //         .color-swatches,
    //         .text-preview,
    //         .output-preview {
    //             flex: 1;
    //             overflow-y: auto; // Ensures all content areas are scrollable
    //         }

    //         .text-preview {
    //             div {
    //                 // Lines of text in the text tab
    //                 padding: calc(var(--item-padding) / 2) 0;
    //                 min-height: unset;
    //                 height: auto;
    //             }
    //         }

    //         .output-preview {
    //             display: flex;
    //             flex-direction: column;

    //             textarea {
    //                 flex: 1; // Fill height
    //                 width: 100%; // Fill width
    //                 font-family: monospace;
    //                 font-size: var(--base-font-size);
    //                 padding: var(--item-padding);
    //                 background-color: var(--textarea-bg);
    //                 color: var(--text-color);
    //                 border: 1px solid var(--textarea-border);
    //                 border-radius: 4px;
    //                 resize: none;
    //                 overflow-y: auto;
    //             }

    //             .button-bar {
    //                 margin-top: auto; // Push the button bar to the bottom
    //             }
    //         }
    //     }
    // }
}
