@import "src/styles/includes";

.entry {
    padding: 20px;
    text-align: left;
    line-height: 1.5em;
    opacity: 0.8;
    //font-smooth: always;

    .title {
        color: #ace398;
        font-size: 1.65em;
        line-height: 1.25em;
        font-weight: 900;
        font-family: "Mario";
        margin: 5px 0 10px;
    }

    .date {
        color: rgba(255, 255, 255, 0.7);
        font-size: 0.75em;
    }

    .content {
        color: white;
        margin-top: 5px;
        //letter-spacing: -1px;

        .markdown-content {
            @import "./entries/entry-markdown.scss";
        }
    }

    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}

.entry-list {
    @include flex-col;

    .entries {
        @include flex-col;

        .entry {
            @extend .entry;
        }
    }
}
