
.flex {
    display: flex;
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -ms-flexbox;
    display: -o-flex;
    
    > *.fill {
		flex-grow: 1;
	    flex-shrink: 1;
	    flex-basis: auto;
	    align-self: auto;
	}

	> *.flex1 {
		flex: 1;
    }
    
	> *.flex2 {
		flex: 2;
    }
    
	> *.flex3 {
		flex: 2;
    }
    
	> *.flex4 {
		flex: 4;
    }
    
	> *.flex5 {
		flex: 5;
	}
}

.flex-row {
    @extend .flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.flex-col {
    @extend .flex;
	flex-direction: column;
}

.flex-center {
    @extend .flex;
	flex-direction: row;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.flex-spread {
	justify-content: space-around;
	-webkit-justify-content: space-around;
}

.flex-nowrap {
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
}