
// 9
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url("static/fonts/montserrat/Montserrat-Regular.ttf") format('truetype');
}

// 8
@font-face {
    font-family: 'Maven Pro';
    font-style: normal;
    font-weight: 600;
    src: url("static/fonts/maven-pro/MavenPro-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Maven Pro Bold';
    font-style: normal;
    font-weight: 600;
    src: url("static/fonts/maven-pro/MavenPro-Bold.ttf") format('truetype');
}


// 7
@font-face {
    font-family: 'JosefinSans';
    font-style: normal;
    font-weight: 300;
    src: url("static/fonts/josefin-sans/JosefinSans-Regular.ttf") format('truetype');
}

// @font-face {
//     font-family: 'Among';
//     font-style: normal;
//     font-weight: 300;
//     src: url("static/fonts/among/AMONG.otf") format('opentype');
// }

// @font-face {
//     font-family: 'Harabara';
//     font-style: normal;
//     font-weight: 300;
//     src: url("static/fonts/harabara/Harabara.ttf") format('truetype');
// }

// @font-face {
//     font-family: 'Europe Undeground';
//     font-style: normal;
//     font-weight: 300;
//     src: url("static/fonts/europe-underground/EuropeUnderground_black.ttf") format('truetype');
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 300;
//   src: url("static/fonts/open-sans/OpenSans-Regular.ttf") format('truetype');
// }

// @font-face {
//   font-family: 'Open Sans Bold';
//   font-style: bold;
//   font-weight: 300;
//   src: local('Open Sans Bold'), local('OpenSans-Bold'), url("static/fonts/open-sans/OpenSans-Bold.ttf") format('truetype');
// }