$primary-bg: #222222; // Darker background for the main container
$secondary-bg: #333333; // Slightly lighter background for content area
$text-color: #f5f5f5; // Light text color for contrast
$border-radius: 8px; // Rounded corners
$padding: 20px; // General padding for elements

.blob-editor {
    flex: 1 0 100%;
    //max-width: 800px;
    margin: 50px auto;
    background: $primary-bg;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: $border-radius;
    overflow: hidden; // Ensures rounded corners on content area

    background: $primary-bg;
    color: $text-color;
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;

    h2 {
        padding: $padding;
        margin: 0;
        background: $secondary-bg;
        text-align: center;
    }

    .blob-title {
        width: calc(100% - 40px); // 40px accounts for padding
        padding: $padding;
        margin: 0;
        border: none;
        background: $primary-bg;
        color: $text-color;
        font-size: 1.2em;
        border-bottom: 1px solid rgba($text-color, 0.1);

        &:focus {
            outline: none;
            box-shadow: 0 0 0 2px rgba($text-color, 0.2);
        }
    }

    .wysiwyg-container {
        padding: $padding;
        background: $secondary-bg;
        border-radius: 0 0 $border-radius $border-radius;
        min-height: 300px;
        overflow-y: auto;

        div[contenteditable="true"] {
            color: $text-color;
            background: $secondary-bg;
            border: none;
            outline: none;
            padding: $padding;
            border-radius: $border-radius;
            line-height: 1.8; // Increased line height for better readability

            &:focus {
                box-shadow: 0 0 0 2px rgba($text-color, 0.2);
            }

            p {
                margin-bottom: 1.5em; // Space between paragraphs
            }

            a {
                color: #4caf50; // Green link color to stand out on dark background
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-top: 0;
                margin-bottom: 0.5em;
            }
        }
    }

    .error-message {
        color: #ff5722; // Orange for error messages
        text-align: center;
        padding: $padding;
    }
}

@import "./ToolbarPlugin.scss";
