$primary-bg: #111418; // Darker background for the main container
$secondary-bg: #161b21; // Slightly lighter background for content area
$text-color: #f5f5f5; // Light text color for contrast
$border-radius: 8px; // Rounded corners
$padding: 20px; // General padding for elements
$focus-color: rgb(10, 157, 215);

.blob-editor {
    flex: 1 0 100%;
    //max-width: 800px;
    margin: 50px auto;
    background: $primary-bg;
    border-radius: $border-radius;
    overflow: hidden; // Ensures rounded corners on content area

    background: $primary-bg;
    color: $text-color;
    font-family: "Roboto", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;

    h2 {
        padding: $padding;
        margin: 0;
        background: $primary-bg;
        text-align: center;
    }

    .blob-title {
        width: 100%; // 40px accounts for padding
        padding: $padding;
        margin: 0;
        border: none;
        background: $secondary-bg;
        color: $text-color;
        font-size: 1.2em;
        //border-bottom: 1px solid rgba($text-color, 0.1);

        &:focus {
            outline: none;
            //box-shadow: 0 0 0 2px rgba($text-color, 0.2);
        }
    }

    .w-editor {
        padding: $padding;
        background: $primary-bg;
        border-radius: 0 0 $border-radius $border-radius;
        min-height: 300px;
        overflow-y: auto;

        .w-content {
            position: relative;
            color: $text-color;
            background: $primary-bg;
            border: none;
            outline: none;
            padding: $padding;
            border-radius: $border-radius;
            line-height: 1.8; // Increased line height for better readability
            box-shadow: 0 0 0 2px rgba($focus-color, 0.2);

            div,
            .group-entry {
                //border-top: 1px solid #234;
                padding: 7px;
                line-height: 1.382em;
            }

            &:focus,
            &:hover {
                box-shadow: 0 0 0 2px rgba($focus-color, 0.4);
            }

            p {
                margin-bottom: 1.5em; // Space between paragraphs
            }

            a {
                color: #4caf50; // Green link color to stand out on dark background
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-top: 0;
                margin-bottom: 0.5em;
            }
        }
    }

    .error-message {
        color: #ff5722; // Orange for error messages
        text-align: center;
        padding: $padding;
    }

    @import "../plugins/toolbar/ToolbarPlugin.scss";
    @import "./FilePlugin.scss";
}
