@font-face {
    font-family: "Icarus";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/kid-icarus/kid-icarus-nes.ttf");
}

@font-face {
    font-family: "8bit";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/myfont.ttf");
}

@font-face {
    font-family: "Mario";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/super-mario-bros/super-mario-bros-nes.ttf");
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 100;
    src: url("/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Harabara";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/harabara/Harabara.ttf");
}

@font-face {
    font-family: "Coolvetica";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/coolvetica/coolvetica rg.otf");
}

@font-face {
    font-family: "Kemio";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/kemio/Kemio-Normal.otf");
}
@font-face {
    font-family: "Maven";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/maven-pro/MavenPro-Regular.ttf");
}

@font-face {
    font-family: "Maven Bold";
    font-style: normal;
    font-weight: 600;
    src: url("/fonts/maven-pro/MavenPro-Bold.ttf");
}

@font-face {
    font-family: "Rostack";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/rostack/Rostack.otf");
}

@font-face {
    font-family: "Milky";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/milky_vintage/MilkyVintage-Regular.ttf");
}

@font-face {
    font-family: "Josefin";
    font-style: normal;
    font-weight: 300;
    src: url("/fonts/josefin-sans/JosefinSans-Regular.ttf");
}

// @font-face {
//     font-family: 'Among';
//     font-style: normal;
//     font-weight: 300;
//     src: url("static/fonts/among/AMONG.otf") format('opentype');
// }

// @font-face {
//     font-family: 'Harabara';
//     font-style: normal;
//     font-weight: 300;
//     src: url("static/fonts/harabara/Harabara.ttf") format('truetype');
// }

// @font-face {
//     font-family: 'Europe Undeground';
//     font-style: normal;
//     font-weight: 300;
//     src: url("static/fonts/europe-underground/EuropeUnderground_black.ttf") format('truetype');
// }

// @font-face {
//   font-family: 'Open Sans';
//   font-style: normal;
//   font-weight: 300;
//   src: url("static/fonts/open-sans/OpenSans-Regular.ttf") format('truetype');
// }

// @font-face {
//   font-family: 'Open Sans Bold';
//   font-style: bold;
//   font-weight: 300;
//   src: local('Open Sans Bold'), local('OpenSans-Bold'), url("static/fonts/open-sans/OpenSans-Bold.ttf") format('truetype');
// }
