@import "src/styles/includes";

#work {
    .sub-nav {
        padding: 0 $itemPadding $itemPadding * 2;

        a {
            font-weight: bold;
            padding: $itemPadding;
            font-family: $fontBold;
        }
    }
}

@media all and (max-width: 1023px) {
    #work {
        .sub-nav {
            width: 100%;
            text-align: center;
        }
    }
}
