@import "src/styles/includes";

#work {
    .sub-nav {
        $linkColor: #648cc859;
        padding: 0 $itemPadding $itemPadding;

        a {
            font-weight: bold;
            padding: $itemPadding;
            font-family: "8bit"; // $fontBold;
            color: lighten($linkColor, 25%);
            letter-spacing: 2px;
            font-size: 1.25em;
            transition: color 0.1s linear;

            &:hover {
                color: $linkColor;
                transition: color 0.1s linear;
            }

            &.on {
                color: #90c3d4; //, 5%);
                transition: color 0.1s linear;
                text-shadow: 0px 0px 15px rgba(235, 255, 220, 0.35);
            }
        }
    }
}

@media all and (max-width: 1023px) {
    #work {
        .sub-nav {
            width: 100%;
            text-align: center;
        }
    }
}
