
// Headers

@mixin h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

@mixin h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

@mixin h3 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

@mixin h4 {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}


// Labels

@mixin grey-label {
    @include font-din-400;
    text-transform: uppercase;
    color: $grey;
    font-size: .875rem;
}