@import 'src/styles/vars.scss';

#work2 {
	.sub-nav {
		padding: $itemPadding;

		a {
			font-weight: bold;
			padding: $itemPadding;
			font-family: $fontBold;
		}
	}
}

@media all and (max-width: 1023px) {
	#work2 {
		.sub-nav {
			width: 100%;
			text-align: center;
		}
	}
}